 /*---------------------------Global Styles-----------------------*/
 
 body{
     margin:0px;
     font-family: 'Song Myung', serif;
     width: 100%;
 }
 
 /*---------------------------Header-----------------------------*/
 
 .nav-bar{
     background-color:lightblue;
     height:80px;
     border-bottom:2px solid;
     width: 100%;
     position: fixed;
 }  
   
 .nav-item{
     float:right;
     list-style-type:none;
 }
 
 #logo{
    height: 100%;
    /*width: 50px;*/
}
   
.list-item{
    float:left;
    padding:10px;
}   
  
.color{
    color:white;
    text-decoration: none;
} 

.color:after{
    content: "|";
    padding:0px 5px;
    color:white;
}

.color:hover{
    color:purple;
}

/*----------------------------Banner---------------------------*/

.banner{
    background-image: url('../img/paris.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 550px;
    /*position: relative;*/
}

.banner-text{
    color: white;
    margin-top: 200px;
    text-align: center;
    float: right;
    font-family: 'New Rocker';
    right: 50px;
    width: 300px;
    margin-right: 100px;
}

.banner-text-background{
    background-color: rgb(50, 50, 50, .5)
    padding:5px;
}

/*----------------------Home Section--------------------------*/

.container{
    padding:2%;
}

.paris-text{
    width: 58%;
    text-align: left;
    border: 2px solid blue;
    float: left;
    padding:5px;
}

.paris{
    width: 36%;
    margin-left: 37px;
    margin-top: 16px;
    border: 2px solid blue;
}

/*-----------------------About Styles-------------------------*/

.about-container{
    height: 500px;
    padding-top: 100px;
}

.column{
    border: 2px solid purple;
    width: 30%;
    padding: 5px;
    margin: 12px;
    float: left;
    text-align: center;
}

.arc, .cathedral, .louvre{
    width: 100px;
    height: 100px;
}

.column:hover{
    background-color: rgba(204, 255, 255, .5);
}

/*-------------------Contact Styles----------------------------*/

.main-body{
    padding-top: 100px;
    margin-bottom: 400px;
}

.body-headline{
    color: teal;
    background-color: skyblue;
    width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  /*  box-shadow: purple;
    text-shadow: 2px, 2px red;*/
}
#map{
    text-align: center;
    width: 48%;
    float: left;
}

.video{
    text-align: center;
    width: 48%;
    float: left;
}

/*---------------------Contant Form--------------------------*/

.form{
    /*-margin-top: 370px;*/
    height: 800px;
}

.contact-form{
    width: 700px;
    height: 600px;
    border: 2px dashed blue;
    background-color: lightblue;
    clear: both;
    margin: 0 auto;
}

/*-------------------------Footer----------------------------*/

.footer{
    background-color: lightblue;
    height: 100px;
    clear: both;
}

.footer-section{
    width: 33.3%;
    float: left;
    text-align: center;
}

.footer-section p{
    color: black;
}

.submit-text{
    display: inline;
    margin-left: 15px;
    padding-right: 10px;
}

.submit{
    float: left;
    margin-top: 30px;
}

.submit-button{
    margin-left: 5px;
}

#social{
    text-align: center;
}

.fab{
    font-size: 2em;
    margin: 10px;
    height: 20px;
    width: 20px;
}
.fa-facebook-square{
    color:#3B5998;
}

.fa-facebook-square:hover{
    color: red;
}
.fa-instagram{
    color: #e95950;
}

.fa-instagram:hover{
    color: white;
}

.button{
    height:20px;
    width: 100px;
    background-color: blue;
    color: fff;
    border-radious:10px;
    margin: 0 auto;
    margin-top: 30px;
}

.footer-button{
    clear: right;
}

